@font-face {
  font-family: IranYekan;
  src: url(../../font/IRANYekanWeb.eot);
  src: url(../../font/IRANYekanWeb.ttf);
  src: url(../../font/IRANYekanWeb.woff);
  src: url(../../font/IRANYekanWeb.woff2);
}
@font-face {
  font-family: homa;
  src: url(../../font/BHoma.eot);
  src: url(../../font/BHoma.ttf);
  src: url(../../font/BHoma.woff);
  src: url(../../font/BHoma.woff2);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: IranYekan;
}
.wraper {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}
